 
.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
   
  .productCard {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .productImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .productCard .card-body {
    padding: 10px;
  }
  
  .productCard .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .productCard .card-text {
    font-size: 14px;
    color: #666;
  }
  
  /* Button styles */
  .productCard .btn-success {
    background-color: pink;
    border-color: cyan;
  }
  
  .productCard .btn-success:hover {
    background-color: pink;
    border-color: yan;
  }
   
  .productCard .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .productCard .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
 
  .productCard .btn-primary {
    background-color: #dc3545;
    border-color: cyan;
  }
  
  .productCard .btn-primary:hover {
    background-color: #c82333;
    border-color: #c82333;
  }
  